[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "remote"]
	branch = godot-4.3-stable
[submodule "https://github.com/godotengine/godot-cpp.git"]
	branch = 4.3
